NEXT_PUBLIC_SUPABASE_URL=https://ckjiixentlgitwqoquzm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
INBOX_PASSWORD=
EVOLUTION_API_URL=https://evolution.graventum.com
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=wa-business-41984973849
